
//base

@import "./base/vars";
@import "./base/utilities";
@import "./base/reset";

//componentes
@import "./componentes/navbar";
@import "./componentes/footer";

//layout
@import "./layout/productos";
@import "./layout/index";
@import "./layout/servicios";
@import "./layout/mediaqueries";
@import "./layout/cursos"
    
