
// inicio del main primera section

.div-titulo{ 
  display: flex;
  justify-content: center;
}


//segunda section main

.precios-servicios{
  text-align: end;
  letter-spacing: normal;
  font-size: medium;
}

.img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4fr;
}

.img-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 1fr;
  margin-right: 1fr;
}



//tercera sesion main index

.div-index{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: $third-color;
  font-size: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  .frase-1{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1 solid $third-color;
    color: $third-color;
    font-size: 50px;}
 
}

.frase-1{
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  border: 1 solid $third-color;
  color: $third-color;
  font-size: 50px;}
  

  //ultima sesion del main


  .gana-10{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $third-color;
    line-height: 50px;
    flex-wrap: wrap; 
    gap: 10px;
   
  }

.but{
  display: inline-block;
  background-color: rgb(254, 208, 231); 
  padding: 10px 20px; 
  border-radius: 50px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 15px; 
  cursor: pointer; 
  
  
}
