

// footer corrigido 
  *{
    margin: 0;
    padding: 0;
}

footer{
    background-color:rgb(255, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
  

}

footer h3{
    color: $third-color;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-bottom: 20px;
}

footer .cont-red .cont-c{
    display: inline-block;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

footer .cont-red .cont-c p{
    color: $third-color;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
   
 
}
    

footer .cont-red .cont-c img{
    width: 70px;
    margin: 0;
    padding: 0;
}
.h5-footer{
  text-align: center;
  color: $third-color;
  font-size: small;
 
}

.contenedor-c{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: palevioletred;

}